/* Navbar.css */

body {
  font-family: 'Poppins', sans-serif;
}

/* .Container {
  padding: 5px 0px;
} */

nav {
  position: fixed; /* Set navbar position to fixed */
  top: 0; /* Stick it to the top of the viewport */
  left: 0; /* Align it to the left */
  width: 100%; /* Occupy full width */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  backdrop-filter: blur(50px);
  z-index: 1000; /* Ensure it's above other content */
}

.logo {
  width: 300px;
  margin-left: 2%;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 2px 20px;
  position: relative;
}

.nav-link {
  text-decoration: none !important;
  font-size: 15px !important;
  color: #000 !important;
  padding-left: 0 !important;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  background: rgb(177, 101, 0);
  position: absolute;
  left: 0;
  bottom: -5px;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus {
  color: rgb(109, 78, 38);
}

.menuiocon {
  display: none !important;

}
.dot{
   color: rgb(255, 99, 8);
   width: 25px;
}

/* CSS for small screens */
@media only screen and (max-width: 1300px) {
  
   .logo {
    width: 280px;
    margin-left: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 3s;
  } 

  .menuiocon {
    display: block !important;
    font-size: 20px;
    padding-right: 10px;
  }

  nav ul {
    display: none !important;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }



  /* Additional styles for the opened menu */
  nav ul.menu-open {
    right: 0;
  }
}
